In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('saleslistasoj.xlsx', index_col=False)

In [3]:
df.head(10)

,Bhole Baba Order Suppliers,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,List of Sales Vouchers,NaN,NaN,NaN,NaN,NaN
1,Voucher Series : Main,NaN,NaN,From 1-6-2078 to 31-6-2078,NaN,NaN
2,Date,Vch/Bill No,Particulars,Item Details,Qty.,Unit
3,01-06-2078,373,Dipak & Nabin Suppliers,Swastik RefineSoyabean Oil 1/2 Ltr Pouch,50,Carton
4,NaN,,,Suji 1/2*40,5,Sack
5,NaN,,,Soap Amar 300,25,Carton
6,NaN,,,Atta 5kgs,50,Sack
7,NaN,,,Sugar,5,Sack
8,NaN,,,Maida 50 Kg,2,Sack
9,01-06-2078,374,Dipak & Nabin Suppliers,Masino Chamal 25kgs,10,Sack

In [4]:
df_new = df.rename(columns={'Bhole Baba Order Suppliers': 'Date','Unnamed: 1': 'Vch/Bill No', 'Unnamed: 2': 'Particulars', 'Unnamed: 3': 'Item Details',  'Unnamed: 4': 'Qty', 'Unnamed: 5': 'Unit'})

In [5]:
df_new.head(10)
df_new = df_new[3:len(df_new.index)-2]

In [6]:
df_new = df_new.reset_index()
del df_new['index']

In [7]:
df_new.head(10)

,Date,Vch/Bill No,Particulars,Item Details,Qty,Unit
0,01-06-2078,373,Dipak & Nabin Suppliers,Swastik RefineSoyabean Oil 1/2 Ltr Pouch,50,Carton
1,NaN,,,Suji 1/2*40,5,Sack
2,NaN,,,Soap Amar 300,25,Carton
3,NaN,,,Atta 5kgs,50,Sack
4,NaN,,,Sugar,5,Sack
5,NaN,,,Maida 50 Kg,2,Sack
6,01-06-2078,374,Dipak & Nabin Suppliers,Masino Chamal 25kgs,10,Sack
7,NaN,,,Chyura 10 kg,5,Sack
8,NaN,,,Mass Daal 30kgs,1,Sack
9,01-06-2078,375,Bijayeswori Bhada Pasal,Atta 5kgs,10,Sack

In [8]:
df_new.isnull()

      Date  Vch/Bill No  Particulars  Item Details    Qty   Unit
0    False        False        False         False  False  False
1     True        False        False         False  False  False
2     True        False        False         False  False  False
3     True        False        False         False  False  False
4     True        False        False         False  False  False
..     ...          ...          ...           ...    ...    ...
973   True        False        False         False  False  False
974   True        False        False         False  False  False
975  False        False        False         False  False  False
976   True        False        False         False  False  False
977   True        False        False         False  False  False

[978 rows x 6 columns]

In [9]:
df_new = df_new.fillna(0)

In [10]:
for a in range(0,len(df_new.index)):
    if df_new['Date'][a] == 0:
        df_new['Date'][a] = df_new['Date'][a-1]

/var/folders/1j/zyk40h0s0zd6t9zp0wgryhm00000gn/T/ipykernel_17313/2580010282.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Date'][a] = df_new['Date'][a-1]

In [11]:
df_new['Vch/Bill No'] = df_new['Vch/Bill No'].str.replace(' ', 'x')

In [12]:
for a in range(0,len(df_new.index)):
    if df_new['Vch/Bill No'][a] == 'x':
        df_new['Vch/Bill No'][a] = df_new['Vch/Bill No'][a-1]

/var/folders/1j/zyk40h0s0zd6t9zp0wgryhm00000gn/T/ipykernel_17313/3886081841.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Vch/Bill No'][a] = df_new['Vch/Bill No'][a-1]

In [13]:
df_new['Particulars'] = df_new['Particulars'].str.replace(' ', 'x')

In [14]:
for a in range(0,len(df_new.index)):
    if df_new['Particulars'][a] == 'x':
        df_new['Particulars'][a] = df_new['Particulars'][a-1]

/var/folders/1j/zyk40h0s0zd6t9zp0wgryhm00000gn/T/ipykernel_17313/3068936628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Particulars'][a] = df_new['Particulars'][a-1]

In [15]:
df_new.head(20)

,Date,Vch/Bill No,Particulars,Item Details,Qty,Unit
0,01-06-2078,373,Dipakx&xNabinxSuppliers,Swastik RefineSoyabean Oil 1/2 Ltr Pouch,50,Carton
1,01-06-2078,373,Dipakx&xNabinxSuppliers,Suji 1/2*40,5,Sack
2,01-06-2078,373,Dipakx&xNabinxSuppliers,Soap Amar 300,25,Carton
3,01-06-2078,373,Dipakx&xNabinxSuppliers,Atta 5kgs,50,Sack
4,01-06-2078,373,Dipakx&xNabinxSuppliers,Sugar,5,Sack
5,01-06-2078,373,Dipakx&xNabinxSuppliers,Maida 50 Kg,2,Sack
6,01-06-2078,374,Dipakx&xNabinxSuppliers,Masino Chamal 25kgs,10,Sack
7,01-06-2078,374,Dipakx&xNabinxSuppliers,Chyura 10 kg,5,Sack
8,01-06-2078,374,Dipakx&xNabinxSuppliers,Mass Daal 30kgs,1,Sack
9,01-06-2078,375,BijayesworixxBhadaxPasal,Atta 5kgs,10,Sack
10,01-06-2078,375,BijayesworixxBhadaxPasal,Swastik RefineSoyabean Oil 1/2 Ltr Pouch,20,Carton
11,01-06-2078,376,BijayesworixxBhadaxPasal,Chana 25 kgs,1,Sack
12,01-06-2078,377,SunitaxFancyxStore,Swastik RefineSoyabean Oil 1/2 Ltr Pouch,50,Carton
13,01-06-2078,377,SunitaxFancyxStore,Wai Wai Noodles Ch 75gm,70,Carton
14,01-06-2078,377,SunitaxFancyxStore,Milk Cream Biscuits,10,Carton
15,01-06-2078,377,SunitaxFancyxStore,Chiyapan Time Biscuits,10,Carton
16,01-06-2078,377,SunitaxFancyxStore,Twinkle Jar,6,Carton
17,01-06-2078,377,SunitaxFancyxStore,Rara White -ch Duplex 75gm,20,Carton
18,01-06-2078,378,RituxFancyxStorexAndxSuppliers,Maida 20kgs,20,Sack
19,01-06-2078,378,RituxFancyxStorexAndxSuppliers,Suji 1/2*40,4,Sack