In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('new_session').getOrCreate()

22/06/15 09:23:50 WARN Utils: Your hostname, Ayushmans-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.69 instead (on interface en0)
22/06/15 09:23:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/06/15 09:23:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [18]:
#reading from csv file
cases = spark.read.load('archive/case.csv', format='csv', sep=',', header='true', inferSchema='true')

In [23]:
#selecting required columns
cases = cases.select(' case_id','province', 'city', 'confirmed')
cases.show()

+--------+--------+---------------+---------+
| case_id|province|           city|confirmed|
+--------+--------+---------------+---------+
| 1000001|   Seoul|     Yongsan-gu|      139|
| 1000002|   Seoul|      Gwanak-gu|      119|
| 1000003|   Seoul|        Guro-gu|       95|
| 1000004|   Seoul|   Yangcheon-gu|       43|
| 1000005|   Seoul|      Dobong-gu|       43|
| 1000006|   Seoul|        Guro-gu|       41|
| 1000007|   Seoul|from other city|       36|
| 1000008|   Seoul|  Dongdaemun-gu|       17|
| 1000009|   Seoul|from other city|       25|
| 1000010|   Seoul|      Gwanak-gu|       30|
| 1000011|   Seoul|   Eunpyeong-gu|       14|
| 1000012|   Seoul|   Seongdong-gu|       13|
| 1000013|   Seoul|      Jongno-gu|       10|
| 1000014|   Seoul|     Gangnam-gu|        7|
| 1000015|   Seoul|        Jung-gu|        7|
| 1000016|   Seoul|   Seodaemun-gu|        5|
| 1000017|   Seoul|      Jongno-gu|        7|
| 1000018|   Seoul|     Gangnam-gu|        6|
| 1000019|   Seoul|from other city|        1|
| 1000020|   Seoul|   Geumcheon-gu|        6|
+--------+--------+---------------+---------+
only showing top 20 rows

In [24]:
#sorting
from pyspark.sql import functions as F
cases.sort(F.desc('confirmed')).show()

+--------+-----------------+---------------+---------+
| case_id|         province|           city|confirmed|
+--------+-----------------+---------------+---------+
| 1200001|            Daegu|         Nam-gu|     4511|
| 1200009|            Daegu|              -|      917|
| 1200010|            Daegu|              -|      747|
| 6000001| Gyeongsangbuk-do|from other city|      566|
| 2000020|      Gyeonggi-do|              -|      305|
| 1000036|            Seoul|              -|      298|
| 1200002|            Daegu|   Dalseong-gun|      196|
| 6000012| Gyeongsangbuk-do|              -|      190|
| 1000037|            Seoul|              -|      162|
| 1000001|            Seoul|     Yongsan-gu|      139|
| 6000013| Gyeongsangbuk-do|              -|      133|
| 1200003|            Daegu|         Seo-gu|      124|
| 1000002|            Seoul|      Gwanak-gu|      119|
| 6000002| Gyeongsangbuk-do|   Cheongdo-gun|      119|
| 4100001|Chungcheongnam-do|     Cheonan-si|      103|
| 1200004|            Daegu|   Dalseong-gun|      101|
| 1000038|            Seoul|              -|      100|
| 1000003|            Seoul|        Guro-gu|       95|
| 2000022|      Gyeonggi-do|              -|       84|
| 1400005|          Incheon|              -|       68|
+--------+-----------------+---------------+---------+
only showing top 20 rows

In [ ]:
#cast function is used