In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local[1]').appName('newer_session').getOrCreate()

In [7]:
rdd1 = spark.sparkContext.parallelize(['java', 'python','c','php'])

In [8]:
rdd1.count()

4

In [13]:
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

In [14]:
columns = ["firstname","middlename","lastname","dob","gender","salary"]

In [15]:
df = spark.createDataFrame(data=data, schema=columns)

In [22]:
df.createOrReplaceTempView('Person_Data')
df2 = spark.sql("select * from Person_Data")
df2.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

In [23]:
df_fname = spark.sql('select firstname from Person_Data where middlename="Rose"')

In [24]:
df_fname.show()

+---------+
|firstname|
+---------+
|  Michael|
+---------+