In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('this').getOrCreate()

22/06/23 08:57:44 WARN Utils: Your hostname, Ayushmans-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.68 instead (on interface en0)
22/06/23 08:57:44 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/06/23 08:57:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [10]:
rdd = spark.sparkContext.parallelize(['a', 'b', 'c'])
rdd.collect()

['a', 'b', 'c']

In [13]:
data = [('ayushman', 'adhikari', 'M'),
       ('sanjib', 'udash', 'M')]
schema = ['fname', 'lname', 'gender']

In [15]:
df = spark.createDataFrame(data=data, schema=schema)
df.show()

+--------+--------+------+
|   fname|   lname|gender|
+--------+--------+------+
|ayushman|adhikari|     M|
|  sanjib|   udash|     M|
+--------+--------+------+

In [18]:
df.createTempView('df1_sql')

In [19]:
df2 = spark.sql('select * from df1_sql')
df2.show()

+--------+--------+------+
|   fname|   lname|gender|
+--------+--------+------+
|ayushman|adhikari|     M|
|  sanjib|   udash|     M|
+--------+--------+------+

In [66]:
text = 'my text123 is Longerest then mostlyApp12 ayushman adhikari'

In [73]:
#interview problem
import re

splitted_text = text.split()

#removes number from text in the input string
def number_rem_func(s):
    head = s.rstrip('0123456789')
    return head 

new_string_without_numbers = []
#removing number from text in the input string
for s in splitted_text:
    x = number_rem_func(s)
    new_string_without_numbers.append(x)

#joining spliited string
joined_string = ' '.join(new_string_without_numbers)

#splitting on occurence of upper character
upper_split = [s for s in re.split("([A-Z][^A-Z]*)", joined_string) if s]

#joining spliited string
joined_string2 = ' '.join(upper_split)
#array of properly space splitted string
final_split = joined_string2.split()

#calcaulating length of individual elements in the array
def find_longest_lower_char(space_split):
    lower_char_arr = []
    length = []
    for s in space_split:
        if s == s.lower():
            lower_char_arr.append(s)
            length.append(len(s))
    result = lower_char_arr[length.index(max(length))]
    return result


find_longest_lower_char(final_split)

'ayushman'

In [45]:
a=[1,2,3]
a.index(2)

1