In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('session_prac').getOrCreate()

22/07/21 09:10:58 WARN Utils: Your hostname, Ayushmans-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.66 instead (on interface en0)
22/07/21 09:10:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/07/21 09:10:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
data = [('ayusman', 'adhikari', 'M'),
       ('ashesh', 'bhattarai', 'M'),
       ('samir', 'poudel', 'M')]
cols = ['Fname', 'Lname', 'Gender']
df = spark.createDataFrame(data=data, schema=cols)
df.show()

+-------+---------+------+
|  Fname|    Lname|Gender|
+-------+---------+------+
|ayusman| adhikari|     M|
| ashesh|bhattarai|     M|
|  samir|   poudel|     M|
+-------+---------+------+

In [12]:
df.select('Fname', 'Lname').show()

+-------+---------+
|  Fname|    Lname|
+-------+---------+
|ayusman| adhikari|
| ashesh|bhattarai|
|  samir|   poudel|
+-------+---------+

In [24]:
df1 = df.select('Fname', 'Gender')
df1.show()

+-------+------+
|  Fname|Gender|
+-------+------+
|ayusman|     M|
| ashesh|     M|
|  samir|     M|
+-------+------+

In [25]:
df.show()

+-------+---------+------+
|  Fname|    Lname|Gender|
+-------+---------+------+
|ayusman| adhikari|     M|
| ashesh|bhattarai|     M|
|  samir|   poudel|     M|
+-------+---------+------+

In [28]:
df.createTempView('df_temp1')
df2 = spark.sql('select * from df_temp')

+-------+---------+------+
|  Fname|    Lname|Gender|
+-------+---------+------+
|ayusman| adhikari|     M|
| ashesh|bhattarai|     M|
|  samir|   poudel|     M|
+-------+---------+------+

In [52]:
 df2 = spark.sql("select * from df_temp1")

In [38]:
df2.show()

+-------+---------+------+
|  Fname|    Lname|Gender|
+-------+---------+------+
|ayusman| adhikari|     M|
| ashesh|bhattarai|     M|
|  samir|   poudel|     M|
+-------+---------+------+

In [79]:
df_new = spark.read.load('archive/Region.csv', format='csv', sep=',', header=True)

In [ ]:
df.select(col("age").cast('int').alias("age"))

In [80]:
df_new = df_new.selectExpr('code', 'province', 'city', 'cast(academy_ratio as float) ratio')
df_new.show()

+-----+--------+-------------+-----+
| code|province|         city|ratio|
+-----+--------+-------------+-----+
|10000|   Seoul|        Seoul| 1.44|
|10010|   Seoul|   Gangnam-gu| 4.18|
|10020|   Seoul|  Gangdong-gu| 1.54|
|10030|   Seoul|   Gangbuk-gu| 0.67|
|10040|   Seoul|   Gangseo-gu| 1.17|
|10050|   Seoul|    Gwanak-gu| 0.89|
|10060|   Seoul|  Gwangjin-gu| 1.16|
|10070|   Seoul|      Guro-gu|  1.0|
|10080|   Seoul| Geumcheon-gu| 0.96|
|10090|   Seoul|     Nowon-gu| 1.39|
|10100|   Seoul|    Dobong-gu| 0.95|
|10110|   Seoul|Dongdaemun-gu| 1.06|
|10120|   Seoul|   Dongjak-gu| 1.17|
|10130|   Seoul|      Mapo-gu| 1.83|
|10140|   Seoul| Seodaemun-gu| 1.12|
|10150|   Seoul|    Seocho-gu|  2.6|
|10160|   Seoul| Seongdong-gu| 0.97|
|10170|   Seoul|  Seongbuk-gu| 1.02|
|10180|   Seoul|    Songpa-gu| 1.65|
|10190|   Seoul| Yangcheon-gu| 2.26|
+-----+--------+-------------+-----+
only showing top 20 rows

In [81]:
df_new.createTempView('df_temp2')

AnalysisException: Temporary view 'df_temp2' already exists

In [82]:
spark.sql("select * from df_temp2").show()

+-----+--------+-------------+-------------+
| code|province|         city|academy_ratio|
+-----+--------+-------------+-------------+
|10000|   Seoul|        Seoul|         1.44|
|10010|   Seoul|   Gangnam-gu|         4.18|
|10020|   Seoul|  Gangdong-gu|         1.54|
|10030|   Seoul|   Gangbuk-gu|         0.67|
|10040|   Seoul|   Gangseo-gu|         1.17|
|10050|   Seoul|    Gwanak-gu|         0.89|
|10060|   Seoul|  Gwangjin-gu|         1.16|
|10070|   Seoul|      Guro-gu|            1|
|10080|   Seoul| Geumcheon-gu|         0.96|
|10090|   Seoul|     Nowon-gu|         1.39|
|10100|   Seoul|    Dobong-gu|         0.95|
|10110|   Seoul|Dongdaemun-gu|         1.06|
|10120|   Seoul|   Dongjak-gu|         1.17|
|10130|   Seoul|      Mapo-gu|         1.83|
|10140|   Seoul| Seodaemun-gu|         1.12|
|10150|   Seoul|    Seocho-gu|          2.6|
|10160|   Seoul| Seongdong-gu|         0.97|
|10170|   Seoul|  Seongbuk-gu|         1.02|
|10180|   Seoul|    Songpa-gu|         1.65|
|10190|   Seoul| Yangcheon-gu|         2.26|
+-----+--------+-------------+-------------+
only showing top 20 rows

In [83]:
df_new.groupBy('city').sum('ratio').show()

+--------------+------------------+
|          city|        sum(ratio)|
+--------------+------------------+
|       Naju-si| 1.399999976158142|
|    Gangnam-gu| 4.179999828338623|
|     Songpa-gu| 1.649999976158142|
|    Jangsu-gun|0.5799999833106995|
|  Hapcheon-gun|0.7099999785423279|
|   Bupyeong-gu|1.2699999809265137|
|      Gimpo-si|1.7400000095367432|
|    Cheonan-si| 1.909999966621399|
|   Michuhol-gu|0.8999999761581421|
|     Anyang-si|1.8600000143051147|
|     Gwanak-gu|0.8899999856948853|
|    Gijang-gun| 1.309999942779541|
|     Icheon-si|1.7599999904632568|
|     Boeun-gun|0.6700000166893005|
|  Mungyeong-si|1.1799999475479126|
|Yangpyeong-gun|0.7799999713897705|
|     Sangju-si|1.0299999713897705|
|    Dangjin-si|1.2000000476837158|
|     Wando-gun|0.6499999761581421|
|     Dalseo-gu|1.7200000286102295|
+--------------+------------------+
only showing top 20 rows