In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('test').getOrCreate()

22/07/27 20:52:13 WARN Utils: Your hostname, Ayushmans-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.66 instead (on interface en0)
22/07/27 20:52:13 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/07/27 20:52:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/07/27 20:52:14 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/07/27 20:52:14 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/07/27 20:52:14 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [14]:
df = spark.read.csv('Pyspark-With-Python-main/test3.csv', header=True, inferSchema=True)

In [15]:
df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [51]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [52]:
df.select(['Name', 'Departments', 'Salary']).show()

+---------+------------+------+
|     Name| Departments|Salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [53]:
df.groupBy(['Name']).sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [54]:
from pyspark.sql.functions import max, first

In [55]:
df.groupBy(['Name']).sum().select(first('Name'), max('sum(Salary)')).show()

+-----------+----------------+
|first(Name)|max(sum(Salary))|
+-----------+----------------+
|  Sudhanshu|           35000|
+-----------+----------------+

In [78]:
df.select(['Name']).collect()[1]

Row(Name='Krish')

In [89]:
df.createOrReplaceTempView('my_view')

In [91]:
spark.sql('select * from my_view where salary>=10000 ').collect()

[Row(Name='Krish', Departments='Data Science', salary=10000),
 Row(Name='Sudhanshu', Departments='Data Science', salary=20000),
 Row(Name='Sudhanshu', Departments='IOT', salary=10000),
 Row(Name='Sunny', Departments='Data Science', salary=10000)]

In [131]:
df.select(['Name', 'Salary']).show()

+---------+------+
|     Name|Salary|
+---------+------+
|    Krish| 10000|
|    Krish|  5000|
|   Mahesh|  4000|
|    Krish|  4000|
|   Mahesh|  3000|
|Sudhanshu| 20000|
|Sudhanshu| 10000|
|Sudhanshu|  5000|
|    Sunny| 10000|
|    Sunny|  2000|
+---------+------+

In [153]:
list1  = ['Sudhanshu', 'Krish']
df.filter(df.Name.startswith('S')).show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+