### Filter Operations
- filter operations
- &,|, ==
- ~

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('filter ops').getOrCreate()

22/07/27 18:21:27 WARN Utils: Your hostname, Ayushmans-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.66 instead (on interface en0)
22/07/27 18:21:27 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/07/27 18:21:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/07/27 18:21:28 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/07/27 18:21:28 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
df_spark = spark.read.csv('Pyspark-With-Python-main/test1.csv', header=True, inferSchema=True)

In [3]:
df_spark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

### Filter Operations

In [4]:
### salary of people less than or equal to 20,000
df_spark.filter('Salary<=20000').show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [5]:
### Now if i only need 2 columns from the entire dataframe after filtering
df_spark.filter('Salary<=20000').select(['Name', 'Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [10]:
### multiple conditions can be specified as
df_spark.filter((df_spark['Salary']<=20000) & (df_spark['Age'] > 22) ).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [14]:
### Not operation
### inverses the condition inside filter function
df_spark.filter(~(df_spark['Salary']>20000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

### Group By and Aggregation Functions

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('groupby aggregate').getOrCreate()

22/07/27 18:31:20 WARN Utils: Your hostname, Ayushmans-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.66 instead (on interface en0)
22/07/27 18:31:20 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/07/27 18:31:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/07/27 18:31:20 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/07/27 18:31:20 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
df = spark.read.csv('Pyspark-With-Python-main/test3.csv', header=True, inferSchema=True)

In [7]:
### Groupby
df.groupBy('Name').max('Salary')

DataFrame[Name: string, max(Salary): int]